node_modules/
*/node_modules/
.git/
*.md
.env
.env.*
dist/
*/dist/
.vscode/
.idea/
backups/
*.dump
infra/
apps/api/data/
data/
docs/
*.docx
scripts/
keycloak-realm*.json
docker-compose_pi5.yml
README_pi5_DEPLOY.md
